@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes zzzUp {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(10px, -20px) scale(0.6);
    opacity: 0;
  }
}

.animate-zzz {
  animation: zzzUp 2s linear infinite;
}

.hightlight {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 0 2px;
}
